@{
    ViewData["Title"] = "Home Page";
}
<script src="https://code.jquery.com/jquery-3.6.0.slim.js"
            integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY="
            crossorigin="anonymous"></script>
<div class="container" style="text-align:center;">
    <div class="row">
        <div class="col-md-12">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner text-center">
                <div class="carousel-item active">
                  <img class="img-fluid" src="https://canacar.com.mx/app/uploads/2020/01/LOGO-TDR-550-pixeles.png" alt="First slide">
                </div>
    
              </div>
          </div>
        </div>
        <div class="col-md-12 mt-5" style="text-align:center"><h1>¡Bienvenidos!</h1></div>
        <div class="col-md-12 mt-5 shadow-lg p-0" style="margin-top:200px"> <img class="img-fluid rounded" src="https://media-exp1.licdn.com/dms/image/C4E1BAQGA1cWuVr4JTw/company-background_10000/0/1612830472883?e=2147483647&v=beta&t=nYmnTbV2bKdoFsLYrmN-3SjNtlA7rH96uyBEnN7VY8M" /></div>
        <div class="col-md-12 mt-5" style="position:relative">
            
           @* <div class="alert alert-dark shadow-lg rounded" style="margin-top:200px" role="alert">
              <h1 class="alert-heading">TDR</h1>
              <h3>"LA GRANDEZA DE TDR ES GRACIAS A LA GRANDEZA DE SU GENTE..."</h3>
              
              
            </div>*@
        </div>
    </div>
</div>

